.container {
    row-gap: 10px;
    display: grid;
    column-gap: 3px;
    box-sizing: border-box;
    width: 400px;
    margin: auto;
    padding: 1px auto;
    background-color: aliceblue;

    
}

.form  {
    display: grid;
    background-color: #d6e7ff;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid red;
}
.form-group {
    padding: 1.5em;
    display: grid;
}

.input {
    width: 29em;
    border: 1px solid red;
}
