.container {
    display: grid;
   height:  100vh;
    justify-content: center;
    align-items: center;
}


.card {
    display: grid;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: #dbdfe4;
    border-radius: 12px;
    width: 18rem;
}
input{
    border: 1px solid red;
  }
.form  {
    
    background-color: #5d7eac;
    box-sizing: border-box;
    display: grid;
    margin: auto;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
   outline: none;
    margin: auto;
    padding: 0.325em;
    resize: vertical;
    width: 14rem;
}
.btn {
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgb(80 80 80 / 20%);
    width: 12em;
    padding: 6px;
    border: none;
    border-radius: 30px;
    margin: 10px 10px 5px;
    color: #fff;
    font-weight: bold;
    flex: 0 0 auto;
  }

.btn {
    background: #a3add7;
    transition: all 0.16s ease-in;
  }
  
.btn:hover {
    background: none;
    color: #464646;
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
  }

label {
    padding: 2px;
    display: flex;
    margin: 3px auto;
    color: rgb(39, 74, 157);
    font-size: 14px;
}

.showDataStyle{
    display: flex;
    justify-content: space-around;
    margin: 12px auto;
    background-color: #5d7eac;
    border-radius: 12px;
    width: 30rem;
    color: white;
}

.form-check {
    display: flex;
}

