.container {
    display: grid;
   
    justify-content: center;
    align-items: center;
}


.card {
    display: grid;
    justify-content: center;
    margin: 12px auto;
    background-color: #5d7eac;
    border-radius: 12px;
    width: 18rem;
}

.form  {
    
    background-color: #5d7eac;
    box-sizing: border-box;
    display: grid;
    margin: auto;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 10px;
    margin: auto;
    padding: 0.325em;
    resize: vertical;
    width: 14rem;
}
.btn {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 0.5em;
    margin: .5em auto;
    background-color: #9a7575;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 2px 25px 2px 25px;
    cursor: pointer;
}
label {
    padding: 2px;
    display: flex;
    margin: 3px auto;
    color: white;
}

.showDataStyle{
    display: flex;
    justify-content: space-around;
    margin: 12px auto;
    background-color: #5d7eac;
    border-radius: 12px;
    width: 30rem;
    color: white;
}

.form-check {
    display: flex;
}

