.App {
  text-align: center;
  background-image: url('images/bg.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100%;

 
}
.container{
 
  display: flex;
  height: 100%;
  
  
}
a{
  color: wheat;
  display: block;
  padding: 3px;
  margin: 5px;
}
h2, h6{
  padding: 0;
  margin: 5px auto;
  color: white;
}